Source: dynamo
Section: science
Priority: optional
Maintainer: Marcus Bannerman <support@dynamomd.org>
Build-Depends: debhelper (>= 8.0.0), libbz2-dev
Standards-Version: 3.9.2
Homepage: http://dynamomd.org
Vcs-Git: git://github.com/toastedcrumpets/DynamO.git

Package: dynamo
Architecture: any
Depends: ${misc:Depends}, libbz2
Description: An event-driven molecular dynamics simulator 
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a world
 class visualisation package for particulate systems.
