Source: dynamo
Section: science
Priority: optional
Maintainer: Marcus Bannerman <support@dynamomd.org>
Build-Depends: debhelper (>= 8.0.0), 
 libbz2-dev,
 libboost-all-dev,
 libgtkmm-2.4-dev, 
 freeglut3-dev, 
 libglew-dev, 
 libavcodec-dev,
 libjudy-dev,
 libxmu-dev,
 cmake
Standards-Version: 3.9.2
Homepage: http://dynamomd.org
Vcs-Git: git://github.com/toastedcrumpets/DynamO.git

Package: dynamomd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, python-numpy,
  python-matplotlib
Recommends: libavcodec-extra-53
Description: The core simulator programs for DynamO, the event-driven molecular dynamics simulator.
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a visualisation 
 package for particulate systems. 
