Source: dynamo
Section: science
Priority: optional
Maintainer: Marcus Bannerman <support@dynamomd.org>
Build-Depends: debhelper,
 g++-4.8,
 libbz2-dev,
 libboost-program-options1.55-dev,
 libboost-filesystem1.55-dev,
 libboost-iostreams1.55-dev,
 libboost-test1.55-dev,
 libgtkmm-2.4-dev, 
 freeglut3-dev, 
 libglew-dev, 
 libavcodec-dev,
 libjudy-dev,
 libxmu-dev,
 cmake,
 python-numpy,
 python-matplotlib
Standards-Version: 3.9.2
Homepage: http://dynamomd.org
Vcs-Git: git://github.com/toastedcrumpets/DynamO.git

Package: dynamomd
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, python-numpy,
  python-matplotlib
Recommends: libavcodec-extra-53
Provides: dynamo-core, dynamo-tools, dynamo-visualisation
Replaces: dynamo-core, dynamo-tools, dynamo-visualisation
Breaks: dynamo-core, dynamo-tools, dynamo-visualisation
Description: The core simulator programs for DynamO, the event-driven molecular dynamics simulator.
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a visualisation 
 package for particulate systems. 

Package: dynamo-core
Depends: dynamomd, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.

Package: dynamo-tools
Depends: dynamomd, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.

Package: dynamo-visualisation
Depends: dynamomd, ${misc:Depends}
Architecture: all
Section: oldlibs
Description: transitional dummy package
  This is a transitional dummy package. It can safely be removed.