Source: dynamo
Section: science
Priority: optional
Maintainer: Marcus Bannerman <support@dynamomd.org>
Build-Depends: debhelper (>= 8.0.0), 
 libbz2-dev,
 libboost-all-dev,
 libgtkmm-2.4-dev, 
 freeglut3-dev, 
 libglew1.6-dev, 
 libavcodec-dev,
 fglrx,
 opencl-headers
Standards-Version: 3.9.2
Homepage: http://dynamomd.org
Vcs-Git: git://github.com/toastedcrumpets/DynamO.git

Package: dynamo-core
Architecture: any
Depends: ${misc:Depends}, 
 libboost-all-dev
Description: The core simulator programs for DynamO, the event-driven molecular dynamics simulator.
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a world
 class visualisation package for particulate systems.

Package: dynamo-visualisation
Architecture: any
Depends: ${misc:Depends},
 libboost-all-dev,
 libgtkmm-2.4-dev,
 freeglut3,
 libglew1.6,
 libavcodec53,
 fglrx | nvidia-current
Recommends: libavcodec-extra-53
Description: The visualisation program for DynamO, the event-driven molecular dynamics simulator.
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a world
 class visualisation package for particulate systems.

Package: dynamo-tools
Architecture: all
Depends: python-numpy
Description: Data processing tools for DynamO, the event-driven molecular dynamics simulator.
 DynamO is a modern event-driven molecular dynamics simulator with a
 wide range of tools and models built in. It also includes a world
 class visualisation package for particulate systems.
